<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- UIkit CSS -->
    <link href="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/css/uikit.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <title>Blue Chip Investments {% block title %}{% endblock %}</title>
</head>
<style>
    .header-image {
        background-image: url('{{ url_for('static', path='marten-bjork-6dW3xyQvcYE-unsplash_6_11zon-grayscale.webp') }}');
    }
    .logo-text {
        font-family: 'Noto Sans', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #091235;
    }
</style>
<body>
<div uk-sticky="end: !body; show-on-up: true; animation: uk-animation-slide-top">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div class="uk-navbar" uk-navbar="mode: click">
                <div class="uk-navbar-left">
                    {% block logo %}
                    <img height="64" src="{{ url_for('static', path='icons/blue-keys.svg') }}"
                         style="fill: none; color: #091235"
                         uk-svg width="64">
                    {% endblock %}
                    <div class="uk-navbar-item uk-logo">
                        <a class="uk-link-text" href="/">
                            <div class="logo-text uk-width-small" style="line-height: 22px;">
                                BLUE CHIP INVESTMENTS
                            </div>
                        </a>
                    </div>
                </div>
                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle uk-navbar-toggle-animate uk-hidden@l uk-icon uk-navbar-toggle-icon"
                       href="#" role="button" uk-navbar-toggle-icon="true"></a>
                    <div class="uk-navbar-dropdown uk-width-large">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/who-we-serve/">Who We Serve</a></li>
                            <li><a href="/services/">Services</a></li>
                            <li><a href="/advisors/">Advisors</a></li>
                            <li><a href="/guides/">Guides</a></li>
                            <li><a href="/financial-tools/">Financial Tools</a></li>
                            <li class="uk-margin uk-padding-small" style="background-color: #091235;">
                                <a class="uk-button uk-button-small uk-light" href="/contact-us/">Let's Talk</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="uk-navbar-nav uk-visible@l">
                        <li><a href="/who-we-serve/">Who We Serve</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/advisors/">Advisors</a></li>
                        <li><a href="/guides/">Guides</a></li>
                        <li><a href="/financial-tools/">Financial Tools</a></li>
                    </ul>
                    <a class="uk-button uk-button-small uk-light uk-visible@l" href="/contact-us/"
                       style="background-color: #091235;">Let's Talk</a>
                </div>
            </div>
        </div>
    </nav>
</div>

{% block content %}
{% include "home.html" %}
{% endblock %}

<div class="uk-section uk-section-large uk-light" style="background-color: #091235;">
    <div class="uk-container">
        <hr style="height: 0px; border: none; border-top: 2px solid; color: #88A9C3">
        <div class="uk-card uk-card-body">
            <div class="uk-heading-small uk-margin-small-bottom uk-width-medium logo-text" style="line-height: 50px;">
                BLUE CHIP INVESTMENTS
            </div>
            <div class="uk-text-small">Building Your Legacy with Trusted Growth</div>
        </div>
        <div class="uk-child-width-expand@m" uk-grid>
            <div class="uk-width-auto">
                <div class="uk-card uk-card-body">
                    <div class="uk-text-bolder uk-text-large uk-margin-small-bottom">Our Services</div>
                    <ul class="uk-list uk-text-small">
                        <li><a href="/services/#Financial-Planning">Financial Planning</a></li>
                        <li><a href="/services/#Investment-Management">Investment Management</a></li>
                        <li><a href="/services/#Retirement-Planning">Retirement Planning</a></li>
                        <li><a href="/services/#Investment-Analysis">Investment Analysis</a></li>
                        <li><a href="/services/#Insurance">Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-auto">
                <div class="uk-card uk-card-body">
                    <div class="uk-text-bolder uk-text-large uk-margin-small-bottom">Explore</div>
                    <ul class="uk-list uk-text-small">
                        <li><a href="#modal-about-us" uk-toggle>About</a>{% include "about-us.html" %}</li>
                        <li><a href="/who-we-serve/">Who We Serve</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/advisors/">Advisors</a></li>
                        <li><a href="/guides/">Guides</a></li>
                        <li><a href="/financial-tools/">Financial Tools</a></li>
                        <li><a href="#modal-partner" uk-toggle>Partner</a>{% include "partner.html" %}</li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-body">
                    <div class="uk-text-bolder uk-text-large uk-margin-small-bottom">Let's Talk</div>
                    <p class="uk-text-small">
                        We're Here to Help You Grow Your Wealth, Plan Your Future, and Achieve Your Financial Goals
                    </p>
                    <a class="uk-button uk-text-bolder" href="/contact-us/"
                       style="background-color: #88A9C3; color: #091235;">Start</a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body">
                    <div class="uk-text-bolder uk-text-large uk-margin-small-bottom">Contact Us</div>
                    <div class="uk-text-small uk-child-width-expand uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img height="40" src="{{ url_for('static', path='icons/location-dot-solid.svg') }}"
                                 uk-svg width="40">
                        </div>
                        <div><span>Unit 17, No.30 Surprise Road, Pinetown, 3610</span></div>
                    </div>
                    <div class="uk-text-small uk-child-width-expand uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img height="40" src="{{ url_for('static', path='icons/mobile-solid.svg') }}" uk-svg
                                 width="40">
                        </div>
                        <div><span>0860 258 2447</span></div>
                    </div>
                    <div class="uk-text-small uk-child-width-expand uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img height="40" src="{{ url_for('static', path='icons/envelope-solid.svg') }}" uk-svg
                                 width="40">
                        </div>
                        <div><span>info@bluechipinvest.co.za</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-body">
            <div>
                <a class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook"></a>
                <a class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin"></a>
                <a class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram"></a>
                <a class="uk-icon-button" uk-icon="icon: x"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>