<div class="uk-modal-full" id="modal-partner" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s" uk-grid>
            <div class="uk-background-cover uk-visible@m"
                 style="background-image: url({{ url_for('static', path='youssef-naddam-iJ2IG8ckCpA-unsplash_15_11zon-grayscale.webp') }});"
                 uk-height-viewport></div>
            <div class="uk-padding-large">
                <img height="128" src="{{ url_for('static', path='icons/blue-keys.svg') }}"
                     style="fill: none; color: #091235" uk-svg width="128">
                <div class="uk-heading-small uk-margin-small-bottom uk-width-medium logo-text uk-margin-remove"
                     style="line-height: 50px;">
                    BLUE CHIP INVESTMENTS
                </div>
                <h2>Building Your Legacy with Trusted Growth.</h2>
                <p class="uk-text-bold">Partner</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>